<head>
    <title>Admin</title>
    <!-- <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script> -->
    <link rel="stylesheet" href="/f/css/admin.css">
</head>

<body>
    <div class="container">
        <div class="tabs">
            <button class="tab active" id="addProjectTab" type="button">Add Project</button>
            <button class="tab" id="editProjectTab" type="button">Edit Project</button>
            <button class="tab" id="deleteProjectTab" type="button">Delete Project</button>
            <button class="tab" id="addExhibitionTab" type="button">Add Exhibition</button>
            <button class="tab" id="deleteExhibitionTab" type="button">Delete Exhibition</button>
        </div>

        <div id="addProjectSection">
            <div class="section-title">Add New Project</div>
            <form id="addProjectForm" enctype="multipart/form-data">
                <label>Title:</label>
                <input type="text" name="title" required>

                <label>Date:</label>
                <input type="month" name="date" required>

                <label>Video link:</label>
                <input type="text" name="video_link">

                <label>Medium:</label>
                <input type="text" name="medium">

                <label>Duration:</label>
                <input type="text" name="duration">

                <label>Concept:</label>
                <textarea id="add_concept" name="concept" rows="5" cols="40" required></textarea>

                <label>Upload pictures:</label>
                <input type="file" name="files" multiple accept="image/*">

                <button type="submit">Submit</button>
            </form>
        </div>
        <div id="editProjectSection">
            <div class="section-title">Edit Project</div>
            <ul id="editProjectList">
                {% for project in edit_project_list %}
                <li>
                    <button class="editProjectBtn" data-id="{{ project.project_id }}">{{ project.project_title
                        }}</button>
                </li>
                {% endfor %}
            </ul>
            <form id="editProjectForm" enctype="multipart/form-data">
                <label>Title:</label>
                <input type="text" name="title" value="{{ edit_project.title }}" required>

                <label>Date:</label>
                <input type="month" name="date" value="{{ edit_project.date }}" required>

                <label>Video link:</label>
                <input type="text" name="video_link" value="{{ edit_project.video_link }}">

                <label>Medium:</label>
                <input type="text" name="medium" value="{{ edit_project.medium }}">

                <label>Duration:</label>
                <input type="text" name="duration" value="{{ edit_project.duration }}">

                <label>Concept:</label>
                <textarea name="concept" rows="5" cols="40">{{ edit_project.concept }}</textarea>

                {% for pic in edit_project.saved_files %}
                <!-- <img src="/f/static/images/{{ edit_project.dir }}/{{ pic }}" class="thumbnail"> -->
                {% endfor %}

                <input type="hidden" name="dir" value="{{ edit_project.dir }}">
                <input type="hidden" name="id" value="{{ edit_project.id }}">

                <button type="submit">Submit</button>
            </form>
        </div>

        <div id='deleteProjectSection'>
            {% for proj in delete_projects %}
            <button class="delete-project-btn" data-id="{{ proj.id }}" data-folder="{{ proj.folder_path }}">
                {{ proj.name }}</button>
            {% endfor %}
        </div>

        <div id="addExhibitionSection" style="margin-top:40px;">
            <div class="section-title">Add New Exhibition/Event</div>
            <form id="exhibitionForm">
                <label for="big_row">Event:</label>
                <input type="checkbox" id="big_row" name="big_row">

                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>

                <label for="from">From (YYYY-MM-DD):</label>
                <input type="date" id="from" name="start_date" required>

                <label for="till" id="tillLabel">Till (YYYY-MM-DD):</label>
                <input type="date" id="till" name="till" required>

                <label for="location" id="locationLabel">Location:</label>
                <input type="text" id="location" name="location" required>

                <label for="link">Link:</label>
                <input type="url" id="link" name="link">

                <button type="submit">Submit</button>
            </form>
        </div>

        <div id='deleteExhibitionSection'>
            <div class="years-container">
                {% for year in delete_exhibition_years %}
                <div class="year-section">
                    <div class="year-header">
                        {{ year }}
                    </div>
                    <div class="exhibitions-row">
                        {% for de in delete_exhibitions[year] %}
                        <div>
                            <button class="delete-exhib-btn" data-id="{{ de.id }}">{{ de.name }}</button>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    </div>

    <script>
        document.getElementById('big_row').addEventListener('change', function () {
            let tillInput = document.getElementById('till');
            let tillLabel = document.getElementById('tillLabel');

            if (this.checked) {
                tillInput.style.display = 'none';
                tillLabel.style.display = 'none';
                tillInput.value = document.getElementById('from').value;
            } else {
                tillInput.style.display = '';
                tillLabel.style.display = '';
            }
        });

        document.getElementById('from').addEventListener('input', function () {
            let bigRow = document.getElementById('big_row');
            if (bigRow.checked) {
                document.getElementById('till').value = this.value;
            }
        });
    </script>

    <script src="/f/js/admin.js"></script>
    <script src="/f/js/submit_forms.js"></script>
    <!-- <script> -->
    s
    <!--     CKEDITOR.replace('add_concept'); -->
    <!-- </script> -->

</body>
