<div class="project-panel-info">
    <div class="images-panel" id="images-panel">
    <img class="primary-image" src="/f/static/images/{{project.dir}}/{{project.saved_files[0]}}">
    <div class="pic-thumbnails" >
        {% for pic in project.saved_files %}
        {% if loop.first %}
        <!-- <img class="primary-image" src="/f/static/images/{{project.dir}}/{{pic}}"> -->
        {% else %}
        <img class="thumbnail-image" onclick="changePrimaryImage(this)" src="/f/static/images/{{project.dir}}/{{pic}}">
        {% endif %}
        {% endfor %}
    </div>
    </div>
    <div id="description-panel">
        <table id="details-table">
            <tr class="title-row">
                <td>
                <td class="details-title">{{project.title}}</td>
            </tr>
            <tr class="details-row">
                <td class="details-type">medium:</td>
                <td class="details-content">{{project.medium}}</td>
            </tr>
            <tr class="details-row">
                <td class="details-type">duration:</td>
                <td class="details-content">{{project.duration}}</td>
            </tr>
            <tr class="details-row">
                <td class="details-type">released:</td>
                <td class="details-content">{{project.date}}</td>
            </tr>
        </table>
        <div id="concept-panel">{{ project.concept|safe }}</div>
    </div>
</div>
